*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: sans-serif;
}

button{
    appearance: none;
    background: none;
    outline: none;
    border: none;

    cursor: pointer;
}

body{
    background-color:  #8758a4 ;
    color: #fff ;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2rem 1.5rem;
}

.app{
    width: 100%;
    max-width: 768px;
}

.app header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.app header h1{
    color: antiquewhite;
    font-size: 18px;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #7b469c;
}